<h1>Editing add category to product</h1>

<%= render "form", add_category_to_product: @add_category_to_product %>

<br>

<div>
  <%= link_to "Show this add category to product", @add_category_to_product %> |
  <%= link_to "Back to add category to products", add_category_to_products_path %>
</div>
