<h1>New add category to product</h1>

<%= render "form", add_category_to_product: @add_category_to_product %>

<br>

<div>
  <%= link_to "Back to add category to products", add_category_to_products_path %>
</div>
