<div id="<%= dom_id location %>">
  <p>
    <strong>Postalcode:</strong>
    <%= location.postalCode %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= location.state %>
  </p>

</div>
